<!-- views/movies/styling.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: lightgray; /* Set background color to light gray */
      border: 5px solid black; /* Add a black border to the body */
    }
  </style>
</head>
<body>
</body>
</html>
